@use 'styles/variables';

.landingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left, 100%, 100%;

  .navbarContainer {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .subTitle {
      display: flex;
      flex-direction: row;
      padding:  20px;
      width: 100%;
      justify-content: space-between;

      .subHeaderText {
        h3 {
          font-size: 22px;
          font-weight: 500;
        }
  
        p {
          font-size: 16px;
          font-weight: 100;
        }
      }

      .socials {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
  
  .overlayDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    .mainText {
      position: absolute;
      font-size: 100px;
      font-weight: 600;
      color: #fff;
      padding: 0 20px;
      top: 20%;

      h2 {
        font-size: 40px;
      }

      :nth-child(3) {  
        font-size: 40px;
        color: variables.$dark-accent;
      }
    }
  }

  .floatingImages {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15%;

    .imageOne {
      position: relative;
      height: 60%;
      width: 80%;
    }    
  }
}


@media (min-width: variables.$desktop-max-width) {
  .landingPage {

    .navbarContainer {

      .subTitle {
        padding:  45px;
  
        h3 {
          font-size: 28px;
        }
  
        p {
          font-size: 18px;
          font-weight: 100;
        }
      }
    }

    .overlayDiv {
  
      .mainText {
        padding: 0 45px;
        position: static;
  
        h2 {
          font-size: 75px;
        }
  
        :nth-child(3) {  
          font-size: 75px;
        }
      }
    }


  }
}

@media (min-width: variables.$tablet-max-width) {
  .landingPage {
    .floatingImages {
      .imageOne {
        position: absolute;
        top: 20%;
        left: 45%;
        height: 60%;
        width: 20%;
        background-color: variables.$dark-primary;
      }
  
      .imageTwo {
        position: absolute;
        height: 45%;
        width: 15%;
        bottom: 0%;
        background-color: variables.$dark-primary;
        left: 68%
      }
  
      .imageThree {
        position: absolute;
        height: 20%;
        width: 15%;
        bottom: 0%;
        background-color: variables.$dark-primary;
        left: 25%
      }
    }
  }
}