@use 'styles/variables';

.aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .imageSection {
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .textSection {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .descriptionContainer {
      padding: 0 65px;

      h1 {
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 20px;
      }
  
      p {
        font-weight: lighter;
        text-align: justify;
        font-size: 14px;
      }
    }
  }

  .overlayDiv {
    position: absolute;
    top: 8%;
    left: 5%;

    .sectionHeader {

      h1 {
        font-size: 60px;
        color: #fff;
        font-weight: 500
      }
    }
  }
}

@media (min-width: variables.$tablet-max-width) {
  .aboutMe {
    flex-direction: row;

    .imageSection {
      width: 40%;
      height: 100%;

    }
    
    .textSection {
      width: 60%;
      height: 100%;
      padding-top: 100px;
    }

    .overlayDiv {
      top: 20%;
      left: 35%;

      .sectionHeader {
        padding-right: 80px;
        border-right: solid 1px variables.$dark-accent;
  
      }
    }
  }
}

@media (min-width: variables.$desktop-max-width) {
  .aboutMe {

    .textSection {
      .descriptionContainer {
  
        h1 {
          font-size: 60px;
        }
    
        p {
          font-size: 16px;
        }
      }
    }

    .overlayDiv {
      .sectionHeader {
        h1 {
          font-size: 100px;
        }
      }
    }
  }
}