@use 'styles/variables';

.aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .imageSection {
    height: 52%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .backgroundImage {
      position: relative;
      height: 90%;
      width: 100%;
    }
  }

  .textSection {
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0;

    .descriptionContainer {
      padding: 0 65px;

      h1 {
        font-size: 45px;
        font-weight: bold;
        padding: 0;
        margin-bottom: 20px;
      }
  
      p {
        text-align: justify;
        font-size: 16px;
        font-weight: 350;
      }
    }
  }
}

@media (min-width: variables.$tablet-max-width) {
  .aboutMe {
    flex-direction: row-reverse;

    .imageSection {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
      
      .backgroundImage {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    
    .textSection {
      width: 60%;
      height: 100%;
      align-items: center;
      height: 100%;
      padding: 20px;
    }

    .socials {
      position: absolute;
      z-index: 2;
      bottom: 45px;
      left: 85px;
    }
  }
}

@media (min-width: variables.$desktop-max-width) {
  .aboutMe {

    .textSection {
      .descriptionContainer {
  
        h1 {
          font-size: 85px;
        }
    
        p {
          font-size: 18px;
        }
      }
    }
  }
}