@use 'styles/variables';

.navbarContainer {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .logoContainer {
    width: 35px;
  }
}

@media (min-width: variables.$desktop-max-width) {
  .navbarContainer {
    padding: 0 45px;

    .logoContainer {
      width: 45px;
    }
  }
}