@use 'styles/variables';

.resume {
  .header {
    border-bottom: solid 1px variables.$gray-accent;
    padding: 10px 0;
  }
}




.landingArea {

  .intro {
    h3 {
      font-size: 45px;
    }
  
    h5 {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .description {
    p {
      font-size: 18px;
    }
  }
}

.skillsSection {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px 0;
}

.sectionHeader {
  padding: 20px 0;
  border-bottom: solid 1px variables.$dark-primary;

  p {
    letter-spacing: 5px;
    font-weight: 500;
  }
}

.expItem {
  margin-bottom: 20px;

  h3 {
    color: variables.$dark-accent;
    margin: 5px 0;
  }
}

.expItemWithColon {
  margin: 5px 0;
}

@media (min-width: variables.$tablet-max-width) {

  .skills {
    margin: 20px 0;
  }
}