$primary-color: #64ff00;

$tablet-width: 768px;
$mobile-max-width: 550.0px;
$tablet-max-width: 800.0px;
$desktop-max-width: 1080.0px;
$large-desktop-max-width: 1440.0px;


// light theme 
$light-primary: #fff;
$light-accent: #0A272E;

// dark theme: 
$dark-primary: #202020;
$dark-accent: #31E2D5;
